[Desktop Entry]
Name=Minecraft %s
Comment=Explore your own unique world, survive the night, and create anything you can imagine!
Icon=%s
Type=Application
NoDisplay=true
Categories=Game;
%s
